<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/footer.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>
<body>
    <section class="footer-section">
        <div class="row">
            <div class="logo">
                <h1>Alguma coisa</h1>
                <p>Lorem Ipsum is simply dummy text of the print
                    It is a long established fact that a reader 
                    will be distracted by the readable content of
                     a page when looking at its layout. 
                    
                    </p>
            </div>
            <div class="quick-link">
                <h1>Links Rápidos</h1>
                <a href="#">Sobre</a>
                <a href="#">Oferta e Desconto</a>
                <a href="#">Cupom</a>
                <a href="#">Entre em Contato</a>
                
            </div>
            <div class="novo-produto">
                <h1>Produto</h1>
                <a href="#">Roupa Feminina</a>
                <a href="#">Acessorios</a>
                <a href="#">Roupa Masculina</a>

            </div>
            <div class="support">
                <h1>Suporte</h1>
                <a href="#">Perguntas Frequentes</a>
                <a href="#">Termos e Condições</a>
                <a href="#">Politica de Privacidade</a>
                <a href="#">Política de devolução</a>
                <a href="#">Reportar problema de pagamento</a>

            </div>
        </div>
        
    </section>
    <div class="copy-right">
        <div class="left">
            <p>Copyright 2021 rights Reserved | Desenvolvido por João Vinicius</p>
        </div>
        <div class="right">
            <a href="https://www.facebook.com/viniciusvds" title="Facebook"><i class="fab fa-facebook-f"></i></a>
            <a href="https://www.instagram.com/jvinids/"title="Instagram"><i class="fab fa-instagram"></i></a>
            <a href="https://www.linkedin.com/in/jviniciusvds/" title="LinkedIn"><i class="fab fa-linkedin-in"></i></a>
            <a href="https://github.com/viniciusvds1" title="Git Hub"><i class="fab fa-github"></i></a>
        </div>
    </div>
</body>
</html>