

<body>
    
    <div class="top-header" id="header">
        <div class="left">
            <img src="img/Flag_of_Brazil.svg.png" alt="country Flag">
            <select>
                <option value="BRA">Brasil</option>
                <option value="USA">Estados Unidos</option>
            </select>
        </div>

        <div class="right">
            <a href="#">Minha Conta</a>
            <a href="#">Lista de Desejos</a>
            <a href="#">Carrinho</a>
            <a href="#">Produtos</a>
            <a href="#">Sair</a>

        </div>
    </div>    
        <div class="main-header-section" id="header">
            <div class="left">
                <h1></h1>
            </div>
            <div class="center">
                <a href="#">Home</a>
                <a href="#">Categoria</a>
               
                <a href="#">Paginas</a>
                <a href="#">Contato</a>


            </div>
            <div class="right">
                <form action="#" class="search-product">
                    <input type="search" name="search" placeholder="Buscar produto"/>
                    <div class="search-icon">
                        <i class="fas fa-search"></i>
                    </div>
                </form>
                <div class="lista-desejo">
                    <i class="far fa-heart"></i>
                    <span class="lista-desejo-count">02</span>
                </div>
                <div class="carrinho">
                    <i class="fas fa-shopping-cart"></i>
                    <span class="carrinho-count">02</span>
                </div>
                <button class="sign-btn">Entrar</button>

            </div>
        </div>

    </div>
    
    <script src="script.js">
            window.onscroll = function(){
                myFunction();
            }

    var navbar = document.getElementById('header');
    var sticky = navbar.offsetTop;


    function myFunction(){
        if(window.pageXOffset >=sticky){
            navbar.classList.add('sticky');
            navbar.style.boxShadow = "0 8px 6px -6px black ";
        }else{
            navbar.classList.remove('sticky');
            navbar.style.boxShadow ="none";
        }
    }

    </script>
    
</body>
</html>